.foto {
    max-width: 100%;
} 

.apresentacao {
    max-width: 1200px;
    padding: 2.5rem 1.25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6.25rem;
    align-items: center;
    margin-bottom: 3rem;
}

.apresentacao h1 {
    position: relative;
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 1.875rem;
}

.desc-local {
    font-size: 1.5rem;
    color: var(--c10);
}

.apresentacao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    top: -15px;
    background: url(../img/detalhe.svg) no-repeat center;
    position: absolute;
    z-index: -1;
    left: -40px;
}

@media (max-width: 900px) {

    .apresentacao {
        margin-bottom: 1rem;
    }
    .apresentacao h1{
        font-size: 3rem;
    }

    .desc-local {
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .apresentacao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .apresentacao h1 {
        font-size: 2rem;
    }

    .apresentacao h1::before {
        width: 30px;
        height: 10px;
        left: -0px;
    }

}

@media (max-width: 420px) {
    .apresentacao {
        grid-template-columns: 1fr;
    }

    .foto {
        display: none;
    }
}