.formacao-conteiner {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
    padding: 7rem 1.5rem;
    gap: 6rem;
    margin: 0 auto;
}

.formacao-bg {
    background-color: var(--c12);
}

.formacao-conteiner .titulo-maior {
    color: var(--c13);
}

.formacao-conteiner .p-principal {
    color: var(--c6);
}

.formacao-conteiner .p-principal strong {
    color:var(--cor0);
}

.formacoes {
    flex-wrap: wrap;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.formacoes-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--c13);
    padding: 1.2rem;
    border-radius: 4px;
}

.formacoes-item-titulo {
    position: relative;
    min-width: 10vw;
    flex: 1;
    margin-top: 0px;
    margin-bottom: 3rem;
    color: var(--cor0);
}

.formacoes-item-titulo::before {
    content: "";
    position: absolute;
    height: calc(100% - 50%);
    width: 4px;
    background: var(--gradient);
    left: -1.5rem;


}

.formacoes-item-span:first-child {
    text-transform: uppercase;
    font-size: .85rem;
    margin-bottom: .5rem;


}

.formacoes-item-span {
    color: var(--c6);
}

.extra-titulo {
    position: relative;
    text-transform: uppercase;
    color: var(--c6);
    font-size: .9rem;
    margin-bottom: 2rem;
}

.cursos::before {
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: -4px;
    left: -2.4rem;
    background-image: url(../img/cursos.svg);
}

.idioma::before {
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: -4px;
    left: -2.4rem;
    background-image: url(../img/idiomas.svg)
}

.extra-item-conteiner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.extra-item {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.extra-item p {
    color: var(--cor0);
}

.extra-item span {
    color: var(--c7);
}

.extra-item:last-child {
    margin-bottom: 3rem;
}

@media (max-width: 850px) {
    .cursos::before {
        top: -35px;
        left: 0;

    }
    
    .idioma::before {
        top: -35px;
        left: 0rem;
    }
    .formacao-conteiner {
        grid-template-columns: 1fr;
        gap: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .formacao-conteiner .titulo-maior {
        font-size: 3rem;
        color: var(--cor0);
        text-transform: capitalize;
    }

    .formacoes {
        margin-bottom: 6rem;
    }

    .extra-item:last-child {
        margin-bottom: 4.5rem;
    }
    

}

@media (max-width: 500px) {
    .formacoes {
        flex-direction: column;
    }
}