a {
    color: inherit;
}
.experiencia {
    margin: 0 auto;
    padding: 1.5rem;
    gap: 6rem;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: start;
}


.exp-lista-item {
    grid-column: 2;
    position: relative;
    background-color: var(--c2);
    padding: 1.2rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    border-radius: 4px;
    min-width: 400px;
    max-width: 600;

}

.titulo1{
    position: relative;
    color: var(--c12);
    font-size: 1.1rem;
}

.titulo2 {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.1rem;
}

.titulo1::before {
    content: "";
    display: block;
    position: absolute;
    background: var(--gradient);
    left: -22px;
    width: .3rem;
    height: 80%;
}

.exp-p {
    word-break: break-all;
    grid-row: 2 / 4;
    letter-spacing: 1.125;
    font-size: .9rem;
    line-height: 1.4;
    color: var(--c10)
}

.lista-habilidades li {
    line-height: 1.4;
    color: var(--c12);
    font-size: .9rem;
    border-radius: 4px;
    background-color: var(--c0);
    padding: .5rem 1rem;
}

.lista-habilidades {
    grid-row: 2;
    align-items: start;
    gap: 1rem;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ano {
    color: var(--c10);
    font-size: .875rem;
    position: absolute;
    left: -50px;
    top: 20px;
}

.exp-lista-item h2 {
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
}

h2 span {
    color: gray;
    font-weight: 100;
    font-size: 0.7rem;
    text-transform: uppercase;

}

@media (max-width: 800px) {

    .p-principal {
        font-size: 1.2rem;
        margin-bottom: 2.5rem;
    }

    .experiencia {
        padding-top: 0px;
        gap: 2rem;
        grid-template-columns: 1fr;
    }

    .titulo-maior {
        max-width: 10ch;
        word-break: break-all;
        color: var(--c3);
        font-size: 3rem;
        color: var(--c12);
        text-transform: capitalize;
    }

    .lista-habilidades {
        justify-content: left;
    }


    .ano {
        grid-column: 1;
        position: initial;
        order: 1;
    }

    
}

@media (max-width: 550px) {

    .p-principal {
        margin-bottom: 2rem;
    }

    .experiencia {
        gap: 1.3rem;
    }

    .exp-lista-item {
        grid-template-columns: 1fr;
    }

    .titulo2, .titulo1, .exp-p, .lista-habilidades {
        grid-column: 1;
    }

    .titulo1 {
        grid-row: 1;
    }

    .titulo2 {
        grid-row: 2;
    }

    .exp-p {
        grid-row: 3;
    }

    .lista-habilidades {
        grid-row: 4;
    }

}
