
.logo a{
    color: var(--c12);
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.08rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.header-list a{
    flex: 1;
    font-size: 1.1rem;
    color: var(--c11);
    width: 100%;
    padding: 10px;
    display: inline-block;
}

.header-list li:hover {
    cursor: pointer;
}

@media (max-width: 900px) {

    .nav-header.show #hamburguer {
        border-top-color: transparent;
     }


     .nav-header.show #hamburguer::before {
        transform: rotate(135deg);
     }

  
     .nav-header.show #hamburguer::after {
        transform: rotate(-135deg);
        top: -8.5px;
     }


    .header-list li {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0,0,0, .05);
   }


   .header-list {
      display: block;
      position: absolute;
      width: 100%;
      top: 120px;
      right: 0px;
      height: 0px;
      z-index: 99;
      transition: .6s;
      background-color: var(--c0);
      visibility: hidden;
      overflow-y: hidden;
   }


   .nav-header.show .header-list {
      overflow-y: hidden;
      visibility: visible;
      height: calc(100vh - 100px);
 }

    .menu {

        padding: 1.2rem;
        gap: 0.8rem;
    }

    .header-menu {
        gap: 1rem;
    }

    .header-menu li {
        background-color: var(--c1);
        padding: 0.6rem 1.2rem;
        border-radius: 4px;
    }

    .show .header-list .header-nav-item a,
    .show .header-list .header-nav-item .header-button{
        color: black
    }
}