.admin-header-conteiner {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.admin-header {
    background-color: #1f2937;
    color: white;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.header-button {
    padding: .5rem;
    color: white;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font: inherit
}


.header-nav-item a{
    color: white;
    padding: .5rem
}

