.admin-header-conteiner {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto
}

.admin-header {
    background-color: #1f2937;
    color: white;
    padding: 1rem;
}

.header-button {
    color: white;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.header-button:hover {
    scale: 1.1;
}