html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    overflow-x: hidden
}

.project-bg {
    background-color: var(--c2);
}

.exp-lista-item.padding-bottom-none.margin-bottom-none {
    padding-bottom: 0;
    margin-bottom: 0;
}

.items-list {
    overflow-x: auto;
    max-width: 90vw;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 30px;
    padding: 50px 50px 20px 50px;
    border-top: none;
    border-radius: 4px;
}



section {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 2rem;
    max-height: 300px;
}

#projects-section {
    max-height: 500px;
}

.exp-lista-admin {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.area-item.project-bg {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content:space-between;
    max-width: 300px;
}

.area-item.project-bg .titulo1 {
    text-align: center;
}

.area-item.project-bg .item-options {
    margin-top: 0;
}

 .items-list .project-bg {

    border-radius: 5px;
}

.button-item-options {
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px;
    background-color: #ccc;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
}

.button-item-options:hover {
    background-color: #aaaaaa;
}


.footer-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.item-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}



.item-header-link:hover {
    background-color: rgba(0, 0, 0, 0.153);
}

.content > .items-list {
    max-width: inherit;
    box-shadow: none;
    overflow: hidden;
    max-height: inherit;
} 

.modal {
    z-index: 999;
}


